body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.progress-right .progress-bar {
    float: right;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.progress {
    margin-right: 0.5em;
}

.signal-false{
    color: red;
    font-weight: bolder;
}

.signal-true{
    color: green;
    font-weight: bolder;
}

.image-error{
    border-width: medium;
    border-color: red;
}


.vertical-skills {
    margin-top: 1em;
    text-align: center; }
.vertical-skills li {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 5em;
    background: #f0f0f0;
    margin: 0 0.1em; }
@media (max-width: 400px) {
    .vertical-skills li {
        width: 25px; } }
.vertical-skills li span.skill {
    position: absolute;
    animation-duration: 3s;
    animation-name: height;
    left: 0;
    right: 0;
    bottom: 0; }
.vertical-skills li span.title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -20px; }

/* ANIMATIONS */
@keyframes height {
    0%, 100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        height: 0;
    }
    100% {
        max-height: 100%;
    }
}
/* Monitor Wall */

 .panel-height {

    height: 100%;
    margin-bottom: 1rem;
}